appdirs==1.4.4
astroid==2.4.2
branca==0.4.2
certifi==2020.6.20
chardet==4.0.0
click==7.1.2
distlib==0.3.1
fastapi==0.63.0
filelock==3.0.12
Flask==1.1.2
Flask-SQLAlchemy==2.4.4
folium==0.12.1
geographiclib==1.50
geopy==2.1.0
graphviz==0.14.2
idna==2.10
isort==5.5.2
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.19.4
pandas==1.1.4
Pillow==8.0.1
pydantic==1.7.3
pygame==2.0.0
pylint==2.6.0
PySimpleGUI==4.32.1
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.1
six==1.15.0
SQLAlchemy==1.3.23
starlette==0.13.6
TedHughesbooks-Mykola-Kryvyi @ file:///Users/jiter/Desktop/dist/TedHughesbooks_Mykola_Kryvyi-0.0.1-py3-none-any.whl
toml==0.10.1
urllib3==1.26.3
virtualenv==20.4.2
Werkzeug==1.0.1
wrapt==1.12.1
wxPython==4.1.1
